{% extends 'auth/base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="alert alert-info text-center rounded-pill">
                Welcome to our Site!
            </div>
            {% load static %}
            
            {% if user.is_authenticated %} 
                <div class="alert alert-success mt-3">
                    Hi {{ user.get_full_name }}, You are logged in!
                    <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Logout</a>
                </div>
            {% else %}
                <div class="alert alert-warning text-center mt-3">
                    You are not logged in!
                    <br>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3 d-block">Log In</a>
                    <a href="{% url 'signup' %}" class="btn btn-secondary mt-2 d-block">Sign Up</a>
                    <a href="{% url 'index' %}" class="btn btn-secondary mt-2 d-block">one time passcode</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .alert-info {
        background-color: #D1ECF1;
        color: #0DCAF0;
    }

    .alert-success {
        background-color: #D4EDDA;
        color: #155724;
    }

    .alert-warning {
        background-color: #FFF3CD;
        color: #856404;
    }

    .btn-primary {
        background-color: #007BFF;
        border-color: #007BFF;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-secondary {
        background-color: #6C757D;
        border-color: #6C757D;
    }

    .btn-secondary:hover {
        background-color: #545b62;
        border-color: #545b62;
    }
</style>

{% endblock body %}
